#upload-container {
padding-top: 30px;
}

#upload-img-placeholder {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: rgb(247, 247, 247);
}

#upload-img-placeholder > span {
  color: rgb(202, 185, 185);
}

#upload-img-placeholder > img {
  width: 50px;
}

.upload-label {
  font-size: 20px;
  width: 100px;
}

.text-input {
  width: 300px;
  height: 35px;
  font-size: 14px;
}

.price-input {
  width: 100px;
}

.description-input {
  height: 150px;
}

#submit-button {
  background-color: dodgerblue;
  color: #fff;
  float: right;
  margin-top: 16px;
}

