html,
body,
#root,
#root > div {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

/* Header */
#header {
  height: 64px;
  /* background-color: #000; */
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

#header-area {
  width: 1024px;
  height: 100%;
  /* background-color: orange; */
  display: flex;
  align-items: center;
}

#header-area > img {
  width: 128px;
  height: 36px;
}

/* Footer */
#footer {
  height: 200px;
  background-color: rgb(230, 230, 230);
}
